<div id="logobox" class="logo">
  <a href="/">
    <h1>PUBLIC PROTOCOLS</h1>
  <!-- <img class="midsize" src="/images/PP_logo_transparent.png"/> -->
  
  </a>
  <!-- <div style="margin-left: 4px;">Filter<input value="" class="student" name="student"/></div> -->
</div>