
 <div id="menucon" style="cursor:pointer; pointer-events:auto;">
    <div class="menu">
        <p>Public Protocols explores notions of public space in Melbourne through digital and physical performative practice. 
            <a href="/about">Learn more</a>
        </p>
        <p>
        Explore the archive!
        Refresh the page for a new assemblage, or filter by theme:
        </p>
      <ul>
        <li><a href="/search/Rituals of Lockdown">Rituals of Lockdown</a></li>
        <li><a href="/search/Rituals of Reverie">Rituals of Reverie</a></li>
        <li><a href="/search/Rituals of Derive">Rituals of Derive</a></li>
        <li><a href="/search/Public Activations">Public Activations</a></li>
      </ul>
    </div>
  </div>