{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}

{% include "_modal.njk" %}
 

<div id="holder" class="hidden">
	<div class="draggable setupDrag aboutmid hidden">
		<h4>About</h4>
		<p>
		As part of Melbourne based <a href="https://mpavilion.org/public-protocols-2022/">MPavilion</a>'s February program theme - "Rituals: Marking Life—Public Protocols" explored notions of public space through digital and physical performative practice. The month-long workshop was led by experimental design collective <a href="https://spacesaloon.com">Space Saloon</a> in collaboration with Melbourne-based artist/researcher <a href="https://samholler.com/">Samuel Holleran</a>  with a group of 20 participants.
		A series of weekly Zoom meets and creative actions culminated in a weekend of digital-physical performances that traced and explored the mundane and novel ways we use the city through bodily movement, temporary installation, and visual documentation.
		</p><p>Each week, participants were prompted to react to particular questions around personal and public space, according to the weekly themes: Rituals of Lockdown, Rituals of Reverie and Rituals of Derive. Through a series of performative mappings, investigative reports and actions, we worked to collectively reinterpret the ways in which Melbourne is used, lived in and perceived today during the global shift imposed by the pandemic.
		For the final activation, the surroundings of MPavilion and Queen Victoria Gardens became the testing grounds for physical zoom windows, sidewalk picnics, a compliment stand and many more inventive ways of challenging the norms of being in public.
		</p>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>Themes</h4>
		<ul>
			<li><a href="/search/Rituals of Lockdown">Rituals of Lockdown</a></li>
			<li><a href="/search/Rituals of Reverie">Rituals of Reverie</a></li>
			<li><a href="/search/Rituals of Derive">Rituals of Derive</a></li>
			<li><a href="/search/Public Activations">Public Activations</a></li>
			<li><a href="/">All</a></li>
		</ul>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>Support</h4>
		<p>
		This project was supported by the Naomi Milgrom Foundation and Bloomberg Philanthropies.
		<div class="support">
			<div><img class="supportlogo" src="/images/NMF-Logo-Blacks.jpg" alt="Naomi Milgrom Foundation"/></div>
			<div><img class="supportlogo" src="/images/Bloomberg_Philanthropies_Logo_BWs.jpg" alt="Bloomberg Philanthropies"/></div>
		</div>
		</p>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>Participants</h4>
		<ul>
			<li><a href="/search/Aislinn">Aislinn King</a></a></li>
			<li><a href="/search/Anna">Anna Mueller</a></li>
			<li><a href="/search/Audrey">Audrey Avianto</a></li>
			<li><a href="/search/Cathy">Cathy Chan</a></li>
			<li><a href="/search/Elaine">Elaine Wang</a></li>
			<li><a href="/search/Enzo">Enzo Lara-Hamilton</a></li>
			<li><a href="/search/Hayden">Hayden Brown</a></li>
			<li><a href="/search/Jack">Jack Cohen</a></li>
			<li><a href="/search/Jarel">Jarel Cheah</a></li>
			<li><a href="/search/Jessica">Jessica Tanto</a></li>
			<li><a href="/search/Lily">Lily Thomson</a></li>
			<li><a href="/search/Loughlin">Loughlin O'Kane</a></li>
			<li><a href="/search/Lucinda">Lucinda Kolitsis</a></li>
			<li><a href="/search/Mia">Mia Palmer-Verevis</a></li>
			<li><a href="/search/Reuben">Reuben Daamen</a></li>
			<li><a href="/search/Rhys">Rhys Cousins</a></li>
			<li><a href="/search/Sophia">Sophia Petropoulos</a></li>
			<li><a href="/search/Sophie">Sophie Cochrane</a></li>
			<li><a href="/search/Tess">Tess Nettlefold</a></li>
			<li><a href="/search/Will">Will Scobie</a></li>
		</ul>
	</div>
	    <div class="draggable setupDrag aboutmid hidden">
		<h4>Space Saloon</h4>

		<p><a href="https://spacesaloon.com">Space Saloon</a> is a design laboratory on the move, exploring the potentials of site by crafting collaborative hands-on experiences. Space Saloon is led by Danny Wills, Gian Maria Socci, and Rebecca van Beeck. Their pedagogical projects build communities, promote tolerance, and foster engagement through the production of transdisciplinary forms of knowledge.
	</p>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>Samuel Holleran</h4>
		<p>
		<a href="https://samholler.com/">Samuel Holleran</a> is an interdisciplinary artist and researcher in the field of civically-engaged design and art. He is currently a graduate researcher in Media & Communications at the University of Melbourne, where he is examining public participation in the re-imagination of urban cemeteries as part of the DeathTech Research Team.
	</p>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>MPavilion</h4>

		<p>
		<a href="https://mpavilion.org/public-protocols-2022/">MPavilion</a> is Australia's leading architecture commission — a cultural laboratory where the community can come together to engage and share.
		</p>
		<p>
		Each year since 2014, the Naomi Milgrom Foundation has commissioned an outstanding architect to design a pavilion for the Queen Victoria Gardens, in the centre of Melbourne’s Southbank Arts Precinct. The MPavilion then becomes the focus of a free program season of cultural events and interventions, lively talks, performances, workshops, installations and kid-friendly experiences.
		</p>
		<div class="support">
			<div><img class="supportlogo" src="/images/MPA4349_2021_Logomarkss.png" alt="MPavilion"/></div>
		</div>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>Timestamp</h4>
		<p>
		Jan - Feb 2022, Melbourne, Australia
		</p>
	</div>

	<div class="draggable setupDrag aboutmid hidden">
		<h4>Web Design</h4>
		<p>
		<a href="mailto:damon.black@gmail.com">Damon Black</a>
		</p>
	</div>
</div> <!-- end holder -->

{% endblock %}


{% block script %}

window.addEventListener('DOMContentLoaded', (event) => {

	document.querySelectorAll('a').forEach(el => {
		$(el).hover( () => {
			$('#cursor').css('display', 'none');
		},  () => {
			$('#cursor').css('display', 'block');
		});
	});

  // modal
  let mc = document.getElementById('menucon');
  let ol = document.getElementById('overlay');
  let lb = document.getElementById('logobox');
  lb.addEventListener("click", (e) => {
    e.preventDefault();
    mc.style.display = "flex";
    ol.style.display = "block";
    mc.style.zIndex = 11100;
    document.getElementById('maincon').classList.add("extra_stuff");

  }, false);

 mc.addEventListener("click", (e) => {
    e.preventDefault();
	if (e.target.href) {
		window.location = e.target.href;
	}
    closeModal();
  }, false);

  ol.addEventListener("click", (e) => {
    e.preventDefault();
     closeModal();
  }, false);

  closeModal = () => {
    mc.style.display = "none";
    ol.style.display = "none";
    mc.style.zIndex = 0;
  }

});

$( function() {

  let divsize = 250;

	$( ".draggable" ).mousedown((event) => {
      if (devIce) {
          $(this).css('transform','scale(1)');
          $(event.currentTarget).css('transform','scale(1.6)');
          $(event.currentTarget).css("z-index", "1010"); 
      	}
    })

  $( ".draggable" ).draggable({
      containment: "#maincon",
      start: function(e) {
      	$('#cursor').find('img').attr('src','/images/04_Click-and-Drag-Alternative.png')
       	$(' body').css('cursor', 'none');
         $( ".draggable" ).each(function(index) {
          $(this).css("z-index", "1");
        });
        $('#cursor').css("z-index", "10210");
        $(this).css("z-index", "1010");
      },
      drag: function() {},
      stop: function() {
		if (!devIce) {
      		$('#cursor').find('img').attr('src','/images/03_Hover-OnClick-and-Drag_1282.png')
		} else {
			$(this).css('transform','scale(1)');
      		$('#cursor').find('img').attr('src','/images/clear.png')
        }
      }
    });

    $( ".draggable" ).each(function( index ) {
		var bodyWidth = document.body.clientWidth
		var bodyHeight = document.body.clientHeight;
		var randPosX = Math.floor((Math.random()*bodyWidth - divsize));
		var randPosY = Math.floor((Math.random()*bodyHeight - divsize));
		if (randPosX < 0) {
			randPosX += divsize;
		}
		if (randPosY < 0) {
			randPosY += divsize;
		}
		$(this).css('left', randPosX);
		$(this).css('top', randPosY);
      	$(this).removeClass('hidden')

    }); 
      $('#holder').removeClass('hidden')
   

    $( ".draggable" ).hover(function(){
		if (!devIce) {
      		$('#cursor').find('img').attr('src','/images/03_Hover-OnClick-and-Drag_1282.png')
		}
    }, function(){
		if (!devIce) {
        	$('#cursor').find('img').attr('src','/images/01_Neutral_128.png')
      	}
    });

});

{% endblock %}

{% block post %}
  <div id="cursor"><img alt="Cursor Hand" src="/images/01_Neutral_128.png"></div>
  <script src="/js/animcursor.js"></script>

{% endblock %}