{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}
<style>
	body {
		pointer-events: auto;
		cursor: auto
	}
</style>
<div class='container'>
			<div class='content'>


				<h2>About</h2>
				<p>
					This four-week workshop invites participants of all ages and backgrounds to expand on M_Pavilion’s
					February’s theme of “Rituals: Marking Life.” A series of weekly Zoom meets and creative actions in
					public space will culminate in a weekend of digital-physical performances that trace and explore the
					mundane and novel ways we use the city through bodily movement, temporary installation, and visual
					documentation.
				</p>
				<p>
					During each week’s meeting, participants will be prompted to react to a particular question about
					public space. Through a series of performative mappings, investigative reports and actions,
					participants will explore different areas of Melbourne as they work at developing new skills in
					spatial analysis. Space Saloon’s interdisciplinary workshop will include inputs from architects,
					urban designers, researchers, choreographers, dancers and scenographers. The approach will be
					experimental and open to new inputs as we collectively reinterpret the ways in which Melbourne is
					used, lived in and perceived today during the global shift imposed by the pandemic.
				</p>
				<h2>Team</h2>

				<p>TO COME</p>
				<h2>Workshop Leaders:</h2>

				<ul>
					<li>Space Saloon - Danny Wills, Gian Maria Socci, Rebecca van Beeck</li>
					<li>Sam Holleran</li>
				</ul>
				<h2>M_Pavilion:</h2>

				<ul>
					<li>Jen Zielinska</li>
					<li>Molly Braddon</li>
				</ul>
				<span>
					<a href='//mpavilion.org' target='_blank' rel='noreferrer'>
						<img class="midsize" src="/images/22_0128_PP_logo_Yellow.png" alt='Mpavilion' />
					</a>
				</span>

				<h2>Support:</h2>
				<p>Bloomberg Philanthropies</p>

				<h2>Web Design:</h2>
				<p>Damon Black</p>
			</div>
		</div>

		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://vimeo.com/event/1895227/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>


{% endblock %}


{% block script %}

const input = document.querySelector('.student');
const log = document.querySelector('.result');

input.addEventListener('input', updateValue);

function updateValue(e) {
  log.textContent = e.target.value;
}

{% endblock %}