{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}
<style>
	body {
		pointer-events: auto;
		cursor: auto
	}
</style>
 <div id="menucon" style="cursor:pointer; pointer-events:auto;">
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search/Week-01">Week 1</a></li>
        <li><a href="/search/Week-02">Week 2</a></li>
        <li><a href="/search/Week-03">Week 3</a></li>
        <li><a href="/search/Week-04">Week 4</a></li>
        <li> <a href="/about">About</a></li>
      </ul>
    </div>
  </div>

<div id="holder">

	<div class="draggable aboutmid setupDrag hidden">
		<h4>About</h4>
		<p>
		As part of Melbourne based MPavilion’s February program theme—“Rituals: Marking Life—Public Protocols explored notions of public space through digital and physical performative practice. The month-long workshop was led by experimental design collective Space Saloon in collaboration with Melbourne-based artist/researcher Samuel Holleran with a group of 20 participants.
		A series of weekly Zoom meets and creative actions culminated in a weekend of digital-physical performances that traced and explored the mundane and novel ways we use the city through bodily movement, temporary installation, and visual documentation.
		</p><p>Each week, participants were prompted to react to particular questions around personal and public space, according to the weekly themes: Rituals of Lockdown, Rituals of Reverie and Rituals of Derive. Through a series of performative mappings, investigative reports and actions, we worked to collectively reinterpret the ways in which Melbourne is used, lived in and perceived today during the global shift imposed by the pandemic.
		For the final activation, the surroundings of M_Pavilion and Queen Victoria Gardens became the testing grounds for physical zoom windows, sidewalk picnics, a compliment stand and many more inventive ways of challenging the norms of being in public.
		</p>
	</div>

	<div class="draggable aboutmid setupDrag hidden">
		<h4>Themes</h4>
		<ul>
			<li>Rituals of Lockdown</li>
			<li>Rituals of Reverie</li>
			<li>Rituals of Derive</li>
			<li>Public Activations</li>
			<li>All</li>
		</ul>
	</div>

	<div class="draggable aboutmid setupDrag hidden">
		<h4>Participants</h4>
		<ul>
			<li>Aislinn King</li>
			<li>Anna Mueller</li>
			<li>Audrey Avianto</li>
			<li>Cathy Chan</li>
			<li>Elaine Wang</li>
			<li>Enzo Lara-Hamilton</li>
			<li>Hayden Brown</li>
			<li>Jack Cohen</li>
			<li>Jarel Cheah</li>
			<li>Jessica Tanto</li>
			<li>Lily Thomson</li>
			<li>Loughlin O'Kane</li>
			<li>Lucinda Kolitsis</li>
			<li>Mia Palmer-Verevis</li>
			<li>Reuben Daamen</li>
			<li>Rhys Cousins</li>
			<li>Sophia Petropoulos</li>
			<li>Sophie Cochrane</li>
			<li>Tess Nettlefold</li>
			<li>Will Scobie</li>
		</ul>
	</div>

	
    <div class="draggable aboutmid setupDrag hidden">
		<h4>Space Saloon</h4>

		<p>Space Saloon is a design laboratory on the move, exploring the potentials of site by crafting collaborative hands-on experiences. Space Saloon is led by Danny Wills, Gian Maria Socci, and Rebecca van Beeck. Their pedagogical projects build communities, promote tolerance, and foster engagement through the production of transdisciplinary forms of knowledge.
	</p>
	</div>

	<div class="draggable aboutmid setupDrag hidden">
		<h4>Samuel Holleran</h4>
		<p>
	Samuel Holleran is an interdisciplinary artist and researcher in the field of civically-engaged design and art. He is currently a graduate researcher in Media & Communications at the University of Melbourne, where he is examining public participation in the re-imagination of urban cemeteries as part of the DeathTech Research Team.
	</p>
	</div>

	<div class="draggable aboutmid setupDrag hidden">
		<h4>M_Pavilion</h4>

		<p>
		MPavilion is Australia’s leading architecture commission—a cultural laboratory where the community can come together to engage and share.
		</p><p>
		Each year since 2014, the Naomi Milgrom Foundation has commissioned an outstanding architect to design a pavilion for the Queen Victoria Gardens, in the centre of Melbourne’s Southbank Arts Precinct. The MPavilion then becomes the focus of a free program season of cultural events and interventions, lively talks, performances, workshops, installations and kid-friendly experiences.
		</p>
	</div>

	<div class="draggable aboutmid setupDrag hidden">
		<h4>Timestamp</h4>
		<p>
		Jan - Feb 2022, Melbourne, Australia
		</p>
	</div>

	<div class="draggable aboutmid setupDrag hidden">
		<h4>Web Design</h4>

		<p>
		Damon Black
		</p>
	</div>


</div> <!-- end holder -->

	

{% endblock %}


{% block script %}

window.addEventListener('DOMContentLoaded', (event) => {

  // modal
  let mc = document.getElementById('menucon');
  let ol = document.getElementById('overlay');
  let lb = document.getElementById('logobox');
  lb.addEventListener("click", (e) => {
    e.preventDefault();
    mc.style.display = "flex";
    ol.style.display = "block";
    mc.style.zIndex = 11100;
    document.getElementById('maincon').classList.add("extra_stuff");

  }, false);

 mc.addEventListener("click", (e) => {
    e.preventDefault();
	if (e.target.href) {
		window.location = e.target.href;
	}
    closeModal();
  }, false);

  ol.addEventListener("click", (e) => {
    e.preventDefault();
     closeModal();
  }, false);

  closeModal = () => {
    mc.style.display = "none";
    ol.style.display = "none";
    mc.style.zIndex = 0;
  }

});

$( function() {

  let divsize = 250;

  $( ".draggable" ).draggable({
      containment: "#holder",
      start: function(e) {

      $('#cursor').find('img').attr('src','/images/04_Click-and-Drag-Alternative.png')
       $(' body').css('cursor', 'none');
         $( ".draggable" ).each(function( index ) {
          $(this).css("z-index", "1");
        });
        $('#cursor').css("z-index", "10210");
        $(this).css("z-index", "1010");
      },
      drag: function() {
       
      },
      stop: function() {
        $('#cursor').find('img').attr('src','/images/03_Hover-OnClick-and-Drag_1282.png')
      }
    });
  
		let dh = $(document).height();
		let dw = $(document).width();

    $( ".draggable" ).each(function( index ) {

		var bodyWidth = document.body.clientWidth
		var bodyHeight = document.body.clientHeight;
		console.log(bodyHeight)
		var randPosX = Math.floor((Math.random()*bodyWidth));
		var randPosY = Math.floor((Math.random()*bodyHeight));
		console.log(randPosY)
		
		$(this).css('left', randPosX);
		$(this).css('top', randPosY);
  
		{# console.log(75*dw/100 )
		console.log(75*dh/100 )

      var posw = (Math.random() * (75*dw/100 - divsize)).toFixed();
      var posh = (Math.random() * (75*dh/100 - divsize)).toFixed();
      $(this).css('left', posw + "px")
      $(this).css('top', posh + "px")
	  console.log('top', posh)
		console.log('-----') #}

      $(this).removeClass('setupDrag')
      $(this).removeClass('hidden')

    }); 
   

    $( ".draggable" ).hover(function(){
      $('#cursor').find('img').attr('src','/images/03_Hover-OnClick-and-Drag_1282.png')
  
    }, function(){
        $('#cursor').find('img').attr('src','/images/01_Neutral_128.png')
    });

});

{% endblock %}

{% block post %}
  <div id="cursor"><img alt="Cursor Hand" src="/images/01_Neutral_128.png"></div>
  <script src="/js/animcursor.js"></script>

{% endblock %}