{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}
<h1>Cursor</h1>
 <div id="menucon">
    
  </div>

{% endblock %}
{% block script %}

window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');

  
  

  // modal
 

});

$( function() {
  const colors = [ 'red', 'green', 'aqua', 'yellow']

  // tooltip array

  let divsize = 250;

  




    // tooltip
   

  // set up lines last
 

  // end jq
  });

{% endblock %}

{% block post %}
  <div id="cursor"><img alt="Cursor Hand" src="images/01_Neutral_64.png"></div>
  <script src="/js/animcursor.js"></script>

{% endblock %}