{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}
  <span style="margin-left: 4px;"><a href="about">More Info</a></span>

{% for image in images %}

  <img title = "" class="imgSty midsize draggable hidden" src="/images/{{image}}"/>

{% endfor %}

<div class="draggable video" title = "">
  <iframe width="250" src="https://www.youtube.com/embed/YibFHWZ66GQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>
<div class="draggable video" title = "">
  <audio controls src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_1MG.mp3"/>
</div>

{% endblock %}


{% block script %}
  $( function() {

    let ww = $(window).width();
    let wh = $(window).height();

    $( ".draggable" ).each(function( index ) {
      let posit = getRandomNumber(ww, wh);
      $(this).css('left', posit[0] + "px")
      $(this).css('top', posit[1]+ "px")
      $(this).removeClass('hidden')
    }); 

    $( ".draggable" ).draggable({
      start: function(e) {
        $( ".draggable" ).each(function( index ) {
          //$(this).css("border", "none");
          $(this).css("z-index", "1");
        });
        //$(this).css("border", "4px solid #fc00ff");
        $(this).css("z-index", "1010");
  
      },
      stop: function() {
        $(this).css("border", "none");
      }
    });
  
    $( ".video" ).each(function( index ) {
        let randomColor = '#'+ Math.floor(Math.random() * 19777215).toString(16);
        $(this).css("background-color", randomColor);
    });


   $( ".draggable" ).tooltip({
                content: `<span><h3>Contribution {i}</h3>
									<p className='contr'>by Sam Holleran</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum.
									</p></span>`,
               track:true
            });
 });

function getRandomNumber(ww, wh) {
  let posx = Math.round(Math.random() * ww)-20;
  let posy = Math.round(Math.random() * wh)-20;
	return [posx, posy]
}

{% endblock %}