{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}

  
  <div class="result"></div>
      
{% for image in images %}
  <img title = "{{image.alt}}" id="{{loop.index0}}" class="imgSty midsize draggable hidden" src="{{image.url}}"/>
{% endfor %}

{# <div class="draggable video" title = "">
  <iframe width="250" src="https://www.youtube.com/embed/YibFHWZ66GQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>
<div class="draggable video" title = "">
  <audio controls src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_1MG.mp3"/>
</div> #}
<div id="dad"></div>

{% endblock %}
{% block script %}

  
let contn = [ 
  {% for image in images %}

  [{{loop.index0}}, "{{image.description | safe }}", "{{image.alt | safe}}", "{{image.caption | safe}}"],

{% endfor %}
];

let suntn = [ 
  {% for image in images %}

  [{{loop.index0}}, "{{image.url | safe }}"],

{% endfor %}
];

  $( function() {

    // const currentDiv = document.getElementById("div1");
 
    
    let ww = $(window).width();
    let wh = $(window).height();

    $( ".draggable" ).each(function( index ) {
      let posit = getRandomNumber(ww, wh);
      $(this).css('left', posit[0] + "px")
      $(this).css('top', posit[1]+ "px")
      $(this).removeClass('hidden')
    }); 

    $( ".draggable" ).draggable({
      start: function(e) {
        $( ".draggable" ).each(function( index ) {
          $(this).css("z-index", "1");
        });
        $(this).css("z-index", "1010");
  
      },
      drag: function() {
     
      },
      stop: function() {
      }
    });
  
    $( ".video" ).each(function( index ) {
        let randomColor = '#'+ Math.floor(Math.random() * 19777215).toString(16);
        $(this).css("background-color", randomColor);
    });


   $( ".draggable" ).tooltip({
        open: function( event, ui ) {
          let cid = event.currentTarget.id;
          let res = contn[cid][2] + "<br/>" + contn[cid][3] + "<br/>" + contn[cid][1];
          $( this ).tooltip( "option", "content", res );

        },
        content: 'test',
        position: { of: "body", at: "left top+140px" }
    });

  new ghostCursor();
 });

function getRandomNumber(ww, wh) {
  let posx = Math.round(Math.random() * ww)-20;
  let posy = Math.round(Math.random() * wh)-20;
	return [posx, posy]
}

// filter 


const input = document.querySelector('.student');
const log = document.querySelector('.result');

// input.addEventListener('input', updateValue);

function updateValue(e) {
  log.textContent = e.target.value;
};



{% endblock %}

