{% extends "base.njk" %}

{% block content %}

{% include "_header.njk" %}

  <div class="result"></div>
      
{% for image in images %}
  <img title = "{{image.alt}}" name="{{loop.index0}}" id="{{image.altShort}}{{loop.index0}}" class="imgSty midsize draggable hidden" src="{{image.url}}"/>
{% endfor %}

{# <div class="draggable video" title = "">
  <iframe width="250" src="https://www.youtube.com/embed/YibFHWZ66GQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>
<div class="draggable video" title = "">
  <audio controls src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_1MG.mp3"/>
</div> #}

{% endblock %}
{% block script %}
  
let contn = [ 
  {% for image in images %}

    [{{loop.index0}},  "{{image.description | safe }}", "{{image.alt | safe}}", "{{image.caption | safe}}"],

  {% endfor %}
];

let suntn = [ 
  {% for image in images %}

    [{{loop.index0}}, "{{image.altShort| safe}}", "{{image.url | safe }}",  "{{image.alt | safe}}", "{{image.altShort}}{{loop.index0}}" ],

  {% endfor %}
];

  $( function() {
 
    let divsize = 250;

    $( ".draggable" ).each(function( index ) {

      var posx = (Math.random() * ($(document).width() - divsize)).toFixed();
      var posy = (Math.random() * ($(document).height() - divsize)).toFixed();
      $(this).css('left', posx + "px")
      $(this).css('top', posy + "px")

      $(this).removeClass('hidden')
    }); 

    $( ".draggable" ).hover(function(){
        $('#cursor').find('img').attr('src','images/clicker.png')
  
    }, function(){
        $('#cursor').find('img').attr('src','images/move.png')
    });

    $( ".draggable" ).draggable({
      start: function(e) {
        $('#cursor').find('img').attr('src','images/clicker.png')
      },
      drag: function() {
        linez.forEach((line) => {
          line.position();
        })
      },
      stop: function() {
      }
    });
  
    $( ".video" ).each(function( index ) {
        let randomColor = '#'+ Math.floor(Math.random() * 19777215).toString(16);
        $(this).css("background-color", randomColor);
    });

    $( ".draggable" ).tooltip({
        open: function( event, ui ) {
          let cid = event.currentTarget.name;
          let res = contn[cid][2] + "<br/>" + contn[cid][3] + "<br/>" + contn[cid][1];
          $( this ).tooltip( "option", "content", res );

        },
        content: 'test',
        position: { of: "html", at: "left top+140px" }
    });


  // set up lines last
  const unique = [...new Set(suntn.map(item => item[1]))]
  let fsr = []
  unique.forEach((usr) => {
    fsr.push(suntn.filter((item) => item[1] == usr))
  })

  let liners = fsr.filter((user) => user.length > 1)
  let colors = ['red','green','purple','blue','orange','brown']
  let linez = [];

  for (let i = 0; i < liners.length-1; i++) {
    // in with the artist
    for (let j = 0; j < liners[i].length-1; j++) {
      let rndm = Math.random(1000);

      window['line' + liners[i][j][4]] = new LeaderLine({
        start: document.getElementById(liners[i][j][4]), 
        end: document.getElementById(liners[i][j+1][4]), 
        color: colors[Math.floor(Math.random()*colors.length)],
        startPlug: 'square',
        endPlug: 'square'
      });

      linez.push(window['line' + liners[i][j][4]])

    }
  }
 
 });

function getRandomNumber(ww, wh) {
  let posx = Math.round(Math.random() * ww)-20;
  let posy = Math.round(Math.random() * wh)-20;
	return [posx, posy]
}

// filter 

const input = document.querySelector('.student');
const log = document.querySelector('.result');

// input.addEventListener('input', updateValue);

function updateValue(e) {
  log.textContent = e.target.value;
};

{% endblock %}

{% block post %}
 <div id="cursor"><img alt="Cursor Hand" src="images/move.png"></div>

  <script src="/js/animcursor.js"></script>

{% endblock %}
