html {
	background: #eee;
	color: #222831;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: url("/images/move.png"), auto;
}

.midsize {
	width: 250px;
}

a {
	padding-top: 1em;
	color: grey;
	text-decoration: none;
}

a:hover {
	color: pink;
}

.logo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 250px;
}

.hidden {
	display: none;
}

.draggable,
.cursor {
	cursor: url("/images/clicker.png"), auto;
}

.draggable:hover {
	transform: scale(1.2);
}

.imgSty {
	top: 0px;
	left: 0px;
	position: absolute;
}

.container {
	text-align: center;
	margin-top: 2em;
	display: flex;
	justify-content: space-evenly;
	margin: 2em 3em;
}

.content {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.content ul {
	padding: 0;
}

.content ul li {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	display: block;
	font-weight: normal;
	font-size: 1em;
}

.content img {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
}

.video {
	padding: 2em;
	height: fit-content;
	height: -moz-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.ui-tooltip {
	background-color: #fff;
	width: fit-content;
	padding: 0.4em 1em;
	box-shadow: none;
}

.contr {
	font-style: italic;
	text-decoration: underline;
	font-size: 1em;
}
