@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/SourceSansPro-Semibold.eot');
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
		url('/fonts/SourceSansPro-Semibold.otf') format('opentype');
	font-weight: bold;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/SourceSansPro-Black.eot');
	src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
		url('/fonts/SourceSansPro-Black.otf') format('opentype');
	font-weight: bolder;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/SourceSansPro-Regular.eot');
	src: local('Source Sans Pro'), local('SourceSansPro'), url('/fonts/SourceSansPro-Regular.otf') format('opentype');
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	min-height: 100%;
	background: #e5e5e5;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: none;
	font-weight: normal;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

a,
a:visited {
	color: #000;
}

a:hover {
	color: #7387dc;
}

h1,
h2,
h3 {
	margin: 1em 0;
	color: #1d1d1d;
	font-weight: bolder;
}

h1 {
	font-size: 1.9rem;
	letter-spacing: 0.2rem;
}

ul,
li {
	list-style-type: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

#maincon {
	height: 100vh;
	width: 100vw;
	position: relative;
	/* border: #e36383 1px solid; */
}

.midsize {
	width: 250px;
}

input {
	padding-left: 5px;
}

.logo {
	position: fixed;
	z-index: 35000;
}

#logobox {
	margin-left: 15px;
}

.hidden {
	display: none;
}

.tooltipper {
	color: #0053e1 !important;
	box-shadow: none;
	border: 1px solid #1d1d1d;
}
/* .draggable,
.cursor {
	cursor: url("/images/clicker2.png"), auto;
} */

.draggable:hover {
	transform: scale(1.2);
}

.imgSty {
	top: 0px;
	left: 0px;
	position: absolute;
}

.container {
	margin-top: 2em;
	display: flex;
	justify-content: space-evenly;
	margin: 2em 3em;
	font-weight: normal;
}

.setupDrag {
	position: absolute;
}

.aboutmid {
	color: #0053e1;
	max-width: 375px;
	border: 1px solid #0053e1;
	padding: 1em;
	background-color: #fff;
	/* display: inline-block; */
}

.addIn {
	position: relative;
}

.aboutmid h4 {
	color: #fff;
	background-color: #0053e1;
	display: inline-block;
	padding: 0.2em;
	margin-bottom: 1.3em;
}

.aboutmid p {
	margin-bottom: 0.5em;
}

.content {
	margin-top: 1em;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.content ul {
	padding: 0;
}

.content ul li {
	padding: 0;
	display: block;
	font-weight: normal;
	font-size: 1em;
}

.content img {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
}

.video {
	padding: 2em;
	height: fit-content;
	height: -moz-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.ui-tooltip {
	background-color: #fff;
	width: fit-content;
	padding: 0.4em 1em;
	box-shadow: none;
	z-index: 50000;
}

.contr {
	font-style: italic;
	text-decoration: underline;
	font-size: 1em;
}

#cursor {
	position: absolute;
	left: -64px;
	top: -64px;
	will-change: transform;
	transform: translate(-999px, -999px);
	pointer-events: none;
	/* border: #3d9a21 1px solid; */
	z-index: 11010;
}
#cursor img {
	will-change: transform;
	transition: transform 0.1s linear;
}

.trail {
	/* className for the trail elements */
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 0px;
	background: rgb(150, 26, 131);
}

#menucon {
	display: none;
	position: fixed;
	top: 200px;
	width: 100%;
	justify-content: center;
}

.menu {
	background-color: #fff;
	width: 200px;
	margin: 1em 3em;
	line-height: 2em;
	padding: 1em 3em;
	border: solid 1px black;
}

.menu ul {
	padding-left: 0;
}

.image-container div {
	width: fit-content;
}

/* .image-container img + div.afterOver {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	color: #fff;
}

.image-container:hover img + div.afterOver {
	display: block;
	transition: all 0.2s ease;
	background: rgba(0, 150, 0, .6);
} */

.box {
	position: absolute;
	width: 250px;
}

.box img {
	width: inherit;
}

.box :hover::after {
	width: inherit;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .6;
	z-index: 100;
}

.box.week1:hover::after {
	background-color: #e36383;
}

.box.week2:hover::after {
	background-color: #303094;
}

.box.week3:hover::after {
	background-color: #3d9a21;
}

.dashedsvg {
	background: transparent;
	min-width: 100vw;
	min-height: 100vh;
	display: inline;
}

.dashedline {
	fill: none;
	stroke: #000;
	stroke-width: 3px;
	stroke-dasharray: 6, 6;
}

@media screen and (max-width: 480px) {
	.logo {
		width: 100%;
		text-align: center;
	}

	.box {
		width: 150px;
	}
}

#mtest {
	position: absolute;
	left: 5px;
	top: 65px;
	color: red;
	text-align: center;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
}
